
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
a {
    font-family: "Candara";
}
.paged{
}
.link {
    color: inherit;
    text-decoration: none;
}
html {
    background-color: #f08080;
}
.name {
    font-family: "Trebuchet MS";
}
.job {
    font-family: "Trebuchet MS"
}
.introText {
    
}
.topBar {
    position: absolute;
    display: flex;
    top:0;
    bottom: 85%;
    left:0;
    right:0;
    flex-direction: column;
    background-color: #FFC857;
    border-bottom: solid darkslategray;
}
.MainBody {
    position: absolute;
    display: flex;
    top:15%;
    bottom: 5%;
    left: 0;
    right:0;
    flex-direction: column;
}
.MainBody > * {
    flex: 1; 
}
.projects {
    display: flex;
    flex: 0.5;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.projectSub {
    transition: 0.2s ease-in-out;
     flex: 1; 
     height:100%;
     background-color: lightgray;
     border: solid darkgray;
     scale: 1;
}
.projectSub:hover {
    scale: 1.03;
}
.static{
    background-color: white;
    opacity: 1;
}
.static:hover{
    opacity: 0;
}
footer {
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    top:95%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: slategray;
    color:whitesmoke;
}
.aboutMe {
    border-top: solid darkslategray;
    border-bottom: solid darkslategray;
}